.parent {
   width: 200px; /* I took the width from your post and placed it in css */
   height: 200px;
}

/* This will style any <img> element in .parent div */
.parent img {
   height: 100%;
   width: 100%;
}

.masthead__menu_sticky
{
   position: fixed;


}
